.heroContainer{
  background-image: url("../../../assets/hero.png");
	background-position: 50%;
	background-size: cover;
}


@media (min-width: 768px) {
  .heroContainer{
    background-position: 50%;
		height: 100vh;
  }
}


@media (min-width: 768px) {
  .heroContainer h1{
    font-size: 5rem;
		text-align: left;
  }
}

.heroContainer p {

	margin-left: 100px;
}